<div class="col-xl-6 col-lg-8">
    <h3>DISCLAIMER</h3>
    <p>সাইবার 71 এই সফ্টওয়্যারটির সাথে কোনও ওয়্যারেন্টি সরবরাহ করে না এবং এই সরঞ্জামটি ব্যবহারের কারণে যে কোনও প্রত্যক্ষ বা অপ্রত্যক্ষ ক্ষতি হওয়ার জন্য দায়বদ্ধ হবে না।.
    </br>সাইবার 71 শিক্ষামূলক উদ্দেশ্যে তৈরি করা হয়েছে। আপনার নিজের ঝুঁকিতে ব্যবহার করুন.</p>
</div>   